@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Source+Serif+4:opsz,wght@8..60,300;8..60,400;8..60,500;8..60,700&display=swap");

:root {
  --main: #101630;
  --varaint: rgb(74, 51, 194);
  --accent: #4fb7dc;
  --fore_light: rgb(250, 250, 250);
  --fore_dark: rgb(66, 66, 66);
  --box_shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
  --box_glow: 0 0 20px 1px rgba(79, 183, 220, 0.8);
  --box_glow_reverse: 0 0 20px 1px rgba(74, 51, 194, 0.8);
  --tint_start: rgba(74, 51, 194, 0.5);
  --tint_end: rgba(79, 183, 220, 0.8);
  --border_gradient: linear-gradient(to right, #4a33c2, #4fb7dc);
  --border_gradient_reverse: linear-gradient(to left, #4a33c2, #4fb7dc);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--main);
  color: var(--fore_light);
  font-size: 16px;
  scroll-behavior: smooth;
}

body > .wrapper {
  font-family: Lato, Verdana, Geneva, Tahoma, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--fore_light);
}

.flex {
  display: flex;
}

.col_flex {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

h2 {
  margin-bottom: 1rem;
  text-align: center;
}

p {
  letter-spacing: 1px;
  line-height: 1.5rem;
}

section:not(:first-child),
footer {
  margin-top: 8em;
}

.container {
  padding: 1em;
}
/* HEADER SECTION */
header > .container {
  height: 80%;
}
.header_top {
  justify-content: space-between;
}
header img {
  width: 120px;
}

header figcaption {
  margin-top: 5px;
  text-align: center;
}

nav li {
  margin-left: 1rem;
  background-image: var(--border_gradient);
  padding: 0.3rem 0.6rem;
  border-radius: 10px;
}

.hero {
  height: 80%;
}

.hero > div {
  height: 100%;
  justify-content: center;
  margin-top: 1em;
}

h1 {
  font-family: "Source Serif 4", serif;
  font-size: 5em;
  line-height: 4.3rem;
  letter-spacing: 3px;
}

h1 > span:first-child {
  display: block;
}

.hero > div > span {
  color: var(--fore_dark);
  font-size: 2rem;
}

/* MAIN SECTION */
.about_image {
  border: 0.4rem solid var(--accent);
  width: 300px;
  margin: 4rem auto;
  border-radius: 15px;
}
.about_image > img,
.project_image > img {
  width: 100%;
  border-radius: 15px;
  position: relative;
  top: -20px;
  right: 25px;
}

/* PROJECTS */

.project_image {
  border: 0.4rem solid var(--accent);
  width: 70%;
  margin: 2rem auto 6rem;
  border-radius: 15px;
  max-width: 500px;
}

.project_text > h4 {
  margin: 0.5rem 0;
}

.project_text > a {
  display: flex;
  margin-top: 1rem;
  color: var(--accent);
  font-weight: bold;
  align-items: center;
  font-size: 1.1rem;
  letter-spacing: 2px;
  transition: 0.5s;
}

.project_text > a > span {
  margin-left: 0.5rem;
  font-size: 1.4rem;
}

.project_text > a:hover {
  font-size: 1.2rem;
}

/* TOOLS */
.tech_tools {
  flex-wrap: wrap;
  justify-content: space-between;
}

.tech_tools > figure {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 2rem 1rem;
}

.tech_tools img {
  width: 80%;
  margin: 0 auto;
}

.tech_tools figcaption {
  text-align: center;
  margin-top: 0.3rem;
}

/* FOOTER */
footer {
  border-radius: 50px 50px 0 0;
  background-image: var(--border_gradient);
  text-shadow: #000;
}

.footer_main {
  flex-direction: column;
}

.contact_detail {
  display: flex;
}

.contact_detail > p {
  margin-left: 10px;
}

.contact_detail .icon_background {
  margin-bottom: 0.5rem;
  padding: 5px 8px;
}

.footer_summary > h3 {
  margin-bottom: 0.5rem;
}

.contact_details {
  margin: 2rem 0;
}

.footer_right {
  width: 90%;
  margin: 2rem auto;
  background-image: linear-gradient(to left, #4a33c2, #4fb7dc);
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: var(--box_glow);
}

.footer_right > form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}
.footer_right > form > input,
textarea {
  padding: 0.4rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--main);
  margin: 0 0 15px 0;
}

.footer_right form button {
  width: 150px;
  align-self: center;
  padding: 0.5rem;
  border: none;
  outline: none;
  justify-content: center;
  align-items: center;
  color: var(--fore_light);
  font-weight: bold;
  letter-spacing: 1px;
}

.footer_bottom {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.footer_bottom > .logo {
  grid-column: 1/2;
  grid-row: 1/2;
}

.footer_bottom > .social {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-content: end;
}

.social img {
  width: 20px;
}

.icon_background {
  background-image: var(--border_gradient);
  margin-left: 10px;
  padding: 0 8px;
  border-radius: 5px;
  box-shadow: var(--box_glow);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social .icon_background {
  background-image: var(--border_gradient_reverse);
  box-shadow: var(--box_glow_reverse);
}

.copyright {
  grid-row: 2/3;
  grid-column: 1/3;
  text-align: center;
  margin-top: 20px;
}

footer .logo > img {
  width: 100px;
}
